h1.heading{
    color: black;
    font-style:italic;
    font-weight : bold;
}
body {
    text-align: center;
}
.center_form {
    display: inline-block;
}
#to_top{
    color:white;
    background: black;

}
#contact_us{
    position: relative;
    right: 20px;
    left: 550px;
    color:white;
    font-size: 30px;
    background: black;
    text-align: center;
}